body {
  margin: 0;
}

.presentation {
  display: flex;
  flex-direction: column;
  background: rgb(46, 46, 46);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.title {
  font-size: 3vw;
}

.sub-title {
  font-size: 1.2vw;
}

.name {
  margin-top: 1vh;
  font-size: 1.1vw;
  text-transform: uppercase;
  letter-spacing: 0.18vw;
}
